link(href=require('../styles/colors.css') rel='stylesheet')
link(href=require('../styles/document.css') rel='stylesheet')
link(href=require('../styles/fonts.css') rel='stylesheet')
link(href=require('../styles/elements/footer.css') rel='stylesheet')
link(href=require('../styles/elements/header.css') rel='stylesheet')
link(href=require('../styles/elements/text.css') rel='stylesheet')
link(href=require('../styles/classes/card.css') rel='stylesheet')
link(href=require('../styles/classes/card-grid.css') rel='stylesheet')
link(href=require('../styles/classes/credits-list.css') rel='stylesheet')
link(href=require('../styles/classes/forkme.css') rel='stylesheet')
link(href=require('../styles/classes/icon.css') rel='stylesheet')
link(href=require('../styles/classes/langpicker.css') rel='stylesheet')
link(href=require('../styles/classes/profile-links.css') rel='stylesheet')
link(href=require('../styles/sections/bio.css') rel='stylesheet')
link(href=require('../styles/sections/projects.css') rel='stylesheet')
link(href=require('../styles/sections/projects-cards/agencia33.css') rel='stylesheet')
link(href=require('../styles/sections/projects-cards/this.css') rel='stylesheet')
link(href=require('../styles/sections/projects-cards/trebol.css') rel='stylesheet')
link(href=require('../styles/sections/tech.css') rel='stylesheet')
link(href=require('../styles/sections/tech-cards/angular.css') rel='stylesheet')
link(href=require('../styles/sections/tech-cards/apache2.css') rel='stylesheet')
link(href=require('../styles/sections/tech-cards/aws.css') rel='stylesheet')
link(href=require('../styles/sections/tech-cards/eclipse.css') rel='stylesheet')
link(href=require('../styles/sections/tech-cards/git.css') rel='stylesheet')
link(href=require('../styles/sections/tech-cards/github.css') rel='stylesheet')
link(href=require('../styles/sections/tech-cards/intellij.css') rel='stylesheet')
link(href=require('../styles/sections/tech-cards/java.css') rel='stylesheet')
link(href=require('../styles/sections/tech-cards/mvn.css') rel='stylesheet')
link(href=require('../styles/sections/tech-cards/spring.css') rel='stylesheet')
link(href=require('../styles/sections/tech-cards/vscode.css') rel='stylesheet')
