mixin tech-card(t)
  a.shadow.rounded.px-2(href=t.url
  class=t.elementClasses.card
  target='_blank' rel='noopener')
    img.block.w-12.mt-8.mb-4.mx-auto(src=t.iconSrc
    class=t.elementClasses.icon
    aria-hidden='true')
    h3.font-bold(class=t.elementClasses.name)=t.name
    p.mb-4(class=t.elementClasses.description)=t.description
