include ../mixins/icon.pug

-
  const data = require('../data.json');
  const pageTitle = `Benjamin Guillermo La Madrid Bañados`;
  const pageUrl = `https://bglamadrid.github.io/index.html`;
  const pageThumb = `https://bglamadrid.github.io/favicon.ico`;
  const pageDescription = 'Bilingual developer based in Chile';

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(href=require('../favicon.ico') rel='icon' type='image/x-icon')

    link(href=require('../styles.css') rel='stylesheet')

    include ../includes/googlefonts.pug

    title=pageTitle

    meta(name='title' content=pageTitle)
    meta(name='description' content=pageDescription)

    //- Open Graph / Facebook
    meta(property='og:type' content='website')
    meta(property='og:url' content=pageUrl)
    meta(property='og:title' content=pageTitle)
    meta(property='og:description' content=pageDescription)
    meta(property='og:image' content=pageThumb)

    //- Twitter
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:url' content=pageUrl)
    meta(property='twitter:title' content=pageTitle)
    meta(property='twitter:description' content=pageDescription)
    meta(property='twitter:image' content=pageThumb)

  body.text-center(class='bg-[#c799e6] text-[#2a2a2a] dark:bg-[#451145] dark:text-white')
    //- .langpicker
    //-   b Site language: English#[br]
    //-   a(href='index.es.html') Ver sitio en Español
    main(class='container mx-auto grid grid-cols-1 gap-x-4 gap-y-2 justify-items-center md:gap-6')
      header(class='grid grid-cols-1 gap-4 shadow rounded max-w-screen-lg mt-4 mx-4 bg-purple-300 text-black dark:bg-purple-900 dark:text-white md:w-full')
        h1(class='font-bold text-2xl mt-4 mx-4')=pageTitle
        p(class='mx-4')=pageDescription
        nav(class='flex flex-col w-50 mb-4 mx-auto text-left md:w-full md:flex-row md:justify-evenly')
          each socialLink, shortName in data.socialLinks
            a(class='grid grid-flow-col items-center gap-x-3 ' + shortName
            href=socialLink.url)
              if (socialLink.icon)
                +icon(socialLink.icon)(class='w-8 dark:invert')
              span=socialLink.description
      section#bio(class='shadow rounded max-w-screen-lg mx-4 md:w-full')
        .section(class='grid grid-cols-1 gap-4.justify-items-center bg-purple-300 text-black dark:bg-purple-900 dark:text-white md:w-full')
          h2(class='font-bold text-xl mt-4 mx-4') 😁 About me
          p(class='mx-4') I'm a web and software developer! I love three things in life:
          ul(class='w-60 mx-auto text-left list-disc')
            li 🎤 singing,
            li 🎮 playing videogames, and
            li 🍻 good beers
          p(class='mb-4 mx-4 md:mx-16') At a young age I've gotten used to learn by doing and building things. I still do, actually. This site is proof of that.
      section#projects(class='shadow rounded max-w-screen-lg mx-4 md:w-full')
        .section(class='grid grid-cols-1 gap-4 justify-items-center bg-purple-300 text-black dark:bg-purple-900 dark:text-white md:w-full')
          h2(class='font-bold text-xl mt-4 mx-4') 🚀 Ongoing projects
          .projects(class='grid grid-cols-1 gap-4 mb-4 mx-4 md:grid-cols-3')
            each project, shortName in data.projects
              .project(class='shadow rounded py-2 px-4 ' + shortName + ' ' + project.elementClasses.card.join(' '))
                h3(class='font-bold mt-4 mb-auto')
                  a(class=project.elementClasses.name
                  href=project.url)=project.name
                p(class='mb-4 ' + project.elementClasses.description.join(' '))=project.description
            .project(class='shadow rounded py-2 px-4 bg-indigo-700 text-white')
              h3(class='font-bold mt-4 mb-auto') This site
              p(class='mb-2') Currently undergoing an upgrade from a #[i static website] to a #[a(href='https://jamstack.org/what-is-jamstack/') Jamstack].
              p(class='mb-4') Now using #[a(class='font-bold underline underline-offset-2 decoration-dotted' href='https://tailwindcss.com') TailwindCSS]!
      section#tech(class='shadow rounded max-w-screen-lg mx-4 md:w-full')
        .section(class='grid grid-cols-1 gap-4 justify-items-center bg-purple-300 text-black dark:bg-purple-900 dark:text-white md:w-full')
          h2(class='font-bold text-xl mt-4 mx-4') 🔨 Favorite tools
          .tech(class='grid grid-cols-2 gap-4 mb-4 mx-4 md:grid-cols-5 md:gap-6')
            each tech, shortName in data.tech
              a(class='block shadow rounded px-2 md:px-4 ' + shortName + ' ' + tech.elementClasses.card.join(' ')
              href=tech.url
              target='_blank' rel='noopener')
                if (tech.icon)
                  +icon(tech.icon)(class='block w-12 mt-8 mb-4 mx-auto ' + tech.elementClasses.icon.join(' '))
                h3(class='font-bold ' + tech.elementClasses.name.join(' '))=tech.name
                p(class='mb-4 ' + tech.elementClasses.description.join(' '))=tech.description
      footer(class='grid grid-cols-1 gap-4 shadow rounded max-w-screen-lg mx-4 mb-4 bg-purple-300 text-black dark:bg-purple-900 dark:text-white md:w-full')
        .upper(class='mt-4')
          p.simpleicons
            | Beautiful brand icons as seen on
            |
            a(class='external' href='https://simpleicons.org') SimpleIcons.org
          p.googlefonts
            | Font
            |
            a(class='external' href='https://fonts.google.com/specimen/Ubuntu+Mono') Ubuntu Mono
            |
            | is loaded from
            |
            a(class='external' href='https://fonts.google.com') Google Fonts
            |
            | CDN
        .middle
          p.cookies This site DOES NOT use cookies and DOES NOT collect ANY personal information.
        .lower(class='mb-4 border-t-1 border-t-indigo-900')
          p.stack
            | Written using
            |
            a(class='external' href='https://webpack.js.org') Webpack
            | ,
            |
            a(class='external' href='https://pugjs.org') Pug
            |
            | and
            |
            a(class='external' href='https://tailwindcss.com') TailwindCSS
          include ../includes/buildinfo.pug
          p.license Code #[a(class='external' href='/LICENSE' type='text/plain') licensed under MIT].
