include ../mixins/metatags/self.pug
include ../mixins/metatags/facebook.pug
include ../mixins/metatags/twitter.pug
include ../mixins/icon.pug

-
  const data = require('../data.json');
  const pageMetadata = {
    url: 'https://bglamadrid.github.io/index.html',
    title: 'Benjamin Guillermo La Madrid Bañados',
    description: 'Bilingual developer based in Chile',
    image: 'https://bglamadrid.github.io/favicon.ico'
  };

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(href=require('../favicon.ico') rel='icon' type='image/x-icon')
    link(href=require('../styles.css') rel='stylesheet')

    include ../includes/googlefonts.pug

    title=pageMetadata.title
    +metatags-self(pageMetadata)
    +metatags-facebook(pageMetadata)
    +metatags-twitter(pageMetadata)
  body.text-center(class='bg-[#c799e6] text-[#2a2a2a] dark:bg-[#451145] dark:text-white')
    //- .langpicker
    //-   b Site language: English#[br]
    //-   a(href='index.es.html') Ver sitio en Español
    main(class='grid grid-cols-1')
      header#top(class='px-2')
        .container(class='mx-auto mt-2 mb-2 bg-purple-300 text-black dark:bg-purple-900 dark:text-white md:mb-4 md:p-8')
          h1(class='font-bold text-2xl')=pageMetadata.title
          p=pageMetadata.description
          nav(class='flex flex-col w-50 mx-auto text-left sm:w-full sm:flex-row sm:justify-evenly')
            each socialLink, shortName in data.socialLinks
              a(class='grid grid-flow-col items-center gap-x-3 mb-3 sm:mb-0 ' + shortName
              href=socialLink.url)
                if (socialLink.icon)
                  +icon(socialLink.icon)(class='w-8 dark:invert')
                span=socialLink.description
      section#bio(class='px-2')
        .container(class='mx-auto my-2 bg-purple-300 text-black dark:bg-purple-900 dark:text-white md:my-4 md:p-8')
          h2(class='font-bold text-xl') 😁 About me
          p I'm a web and software developer! I love three things in life:
          ul(class='max-w-60 mx-auto pl-4 text-left list-disc sm:pl-0')
            li 🎤 singing,
            li 🎮 playing videogames, and
            li 🍻 good beers
          p(class='md:mx-16') At a young age I've gotten used to learn by doing and building things. I still do, actually. This site is proof of that.
      section#projects(class='px-2')
        .container(class='mx-auto my-2 bg-purple-300 text-black dark:bg-purple-900 dark:text-white md:my-4 md:p-8')
          h2(class='font-bold text-xl') 🚀 Ongoing projects
          .projects(class='grid gap-4 place-content-center md:grid-cols-3')
            each project, shortName in data.projects
              .project(class='shadow rounded p-4 ' + shortName + ' ' + project.elementClasses.card.join(' '))
                h3(class='font-bold mb-auto')
                  if (project.url)
                    a(class='external ' + project.elementClasses.name.join(' ')
                    href=project.url)=project.name
                  else
                    =project.name
                each paragraph, index in project.description
                  p(class='mb-2 ' + project.elementClasses.description.join(' '))!=paragraph
      section#tech(class='px-2')
        .container(class='mx-auto my-2 bg-purple-300 text-black dark:bg-purple-900 dark:text-white md:my-4 md:p-8')
          h2(class='font-bold text-xl') 🔨 Favorite tools
          .tech(class='grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-5 md:gap-y-8 lg:px-4')
            each tech, shortName in data.tech
              a(class='flex flex-col shadow rounded py-4 px-2 md:px-4 ' + shortName + ' ' + tech.elementClasses.card.join(' ')
              href=tech.url
              target='_blank' rel='noopener')
                if (tech.icon)
                  +icon(tech.icon)(class='block w-12 mb-4 mx-auto ' + tech.elementClasses.icon.join(' '))
                h3(class='font-bold ' + tech.elementClasses.name.join(' '))=tech.name
                p(class='my-auto ' + tech.elementClasses.description.join(' '))=tech.description
      footer#bottom(class='px-2')
        .container(class='mx-auto mt-2 mb-4 bg-purple-300 text-black dark:bg-purple-900 dark:text-white sm:gap-y-4 md:my-4 md:p-8')
          .upper
            p.simpleicons
              | Beautiful brand icons as seen on
              |
              a(class='external' href='https://simpleicons.org') SimpleIcons.org
            p.googlefonts
              | Font
              |
              a(class='external' href='https://fonts.google.com/specimen/Ubuntu+Mono') Ubuntu Mono
              |
              | is loaded from
              |
              a(class='external' href='https://fonts.google.com') Google Fonts
              |
              | CDN
          .middle
            p.cookies This site DOES NOT use cookies and DOES NOT collect ANY personal information.
          .lower(class='border-t-1 border-t-indigo-900')
            include ../includes/stackinfo.pug
            include ../includes/buildinfo.pug
            p.license Code #[a(class='external' href='/LICENSE' type='text/plain') licensed under MIT].
