include mixins/footer-content.pug

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(href=require('../favicon.ico') rel='icon' type='image/x-icon')

    include ../includes/styles.pug

    link(href='https://fonts.googleapis.com' rel='preconnect')
    link(href='https://fonts.gstatic.com' rel='preconnect' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Work+Sans&display=swap' rel='stylesheet')

    title Benjamin La Madrid
  body
    div.langpicker
      b Site language: English#[br]
      a(href='index.es.html') Ver sitio en Español
    main
      header
        h1 Benjamin Guillermo La Madrid Bañados
        p Bilingual developer based in Chile
        nav.profile-links
          a.github(href='https://github.com/bglamadrid'
          target='_blank' rel='noopener')
            img.icon(src='https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/github.svg'
            alt='' aria-hidden='true')
            span GitHub Profile
          a.linkedin(href='https://www.linkedin.com/in/benjaminlamadrid'
          target='_blank' rel='noopener')
            img.icon(src='https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/linkedin.svg'
            alt='' aria-hidden='true')
            span LinkedIn Profile
      section#bio
        div.container
          include bio.pug
      section#projects
        div.container
          include projects.pug
      section#tech
        div.container
          include tech.pug
      footer
        +footer-content()
