-
  const tech = [
    {
      codename: 'git',
      url: 'https://git-scm.com/',
      iconHref: 'https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/git.svg',
      name: 'Git',
      description: 'GOAT version control system'
    },
    {
      codename: 'github',
      url: 'https://github.com/',
      iconHref: 'https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/git.svg',
      name: 'GitHub',
      description: 'Where I host my code and this page is served from'
    },
    {
      codename: 'angular',
      url: 'https://angular.io/',
      iconHref: 'https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/angular.svg',
      name: 'Angular',
      description: 'Powerful web application framework'
    },
    {
      codename: 'java',
      url: 'https://java.com/',
      iconHref: 'https://cdn.jsdelivr.net/npm/simple-icons@v6/icons/java.svg',
      name: 'Java',
      description: 'Platform and programming language'
    },
    {
      codename: 'vscode',
      url: 'https://code.visualstudio.com/',
      iconHref: 'https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/visualstudiocode.svg',
      name: 'VS Code',
      description: 'Superb lightweight & extensible IDE'
    },
    {
      codename: 'intellij-idea',
      url: 'https://www.jetbrains.com/idea/',
      iconHref: 'https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/intellijidea.svg',
      name: 'IntelliJ',
      description: 'My go-to IDE for Java development'
    },
    {
      codename: 'spring',
      url: 'https://spring.io/',
      iconHref: 'https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/spring.svg',
      name: 'Spring',
      description: 'Great Java framework'
    },
    {
      codename: 'maven',
      url: 'https://maven.apache.org/',
      iconHref: 'https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/apachemaven.svg',
      name: 'Maven',
      description: 'Robust tool for managing Java projects'
    },
    {
      codename: 'apache2',
      url: 'https://httpd.apache.org/',
      iconHref: 'https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/apache.svg',
      name: 'Apache2',
      description: 'Solid & standard web server solution'
    },
    {
      codename: 'aws',
      url: 'https://aws.amazon.com/',
      iconHref: 'https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/amazonaws.svg',
      name: 'AWS',
      description: 'Amazon\'s cloud platform'
    }
  ];

h2 🔨 Tools I use
p These ain't the only ones I've used, just the ones I've used frequently.
div.card-grid
  each t in tech
    a.card(class=t.codename
    href=t.url
    target='_blank'
    rel='noopener')
      img.icon(src=t.iconHref
      alt=''
      aria-hidden='true')
      strong=t.name
      span=t.description
