mixin simple-icon(name, version)
  -
    const v = `v${version || '7'}`;
  img.icon(src=`https://cdn.jsdelivr.net/npm/simple-icons@${v}/icons/${name}.svg`
  alt=name aria-hidden='true'
  class!=attributes.class)
